body {
	text-align: center;
}
section {
	padding: 1em;
}
section > div {
	width: 100%;
}

header{
	background-color: rgb(152,152,152);
	height: 1em;
	text-align: center;
	padding: 1em;
}

button{
	color: black;
}

.circle {
	border: 1px solid rgb(152,152,152);
	background-color: rgb(240,240,240);
	border-radius: 50%;
	width: 1em;
	height: 1em;
	text-align: center;
}

.square{
	border: 1px solid rgb(152,152,152);
	background-color: rgb(240,240,240);
	border-radius: 7%;
	width: 1em;
	height: 1em;
	text-align: center;
}

.addBtn {
	width: 10em;
	height: 10em;
	border: none;
	color: white;
}

.daysOfWeek{
	width: 4em;
	height: 4em;
	border: none;
	background-color: rgb(215,215,215);
}
.noOfTime {
	width: 4em;
	height: 4em;
	border: none;
	background-color: rgb(215,215,215);
}
.saveIcon{
	width: 12em;
	height: 4em;
	border: none;
	background-color: rgb(180, 180, 180);
}
.close{
	border: none;
	background-color: transparent;
	float: left;
	padding: 0;
}
