body {
    text-align: center;
    font-family: sans-serif;
}

header{
	background-color: #00bcd4;
    color: white;
	text-align: center;
}

section {
	padding: 1em;
}

section div {
	width: 100%;
}

section div p,div {
	display: inline-block;
	margin: 0;
    text-align: center;
}

section div p {
    float: left;
    text-decoration: none;
}

#description {
    margin-left: 7.5em;
}

section div p ~ p {
    float: right;
}

.noOfTimeActive {
	float: right;
    border: 1px solid rgb(152,152,152);
}

.noOfTime {
    float: right;
    border: 1px solid rgb(240,240,240);
}

.circle {
	background-color: rgb(240,240,240);
	border-radius: 50%;
	width: 1em;
	height: 1em;
	text-align: center;
}

.habitIcon {
	width: 10em;
	height: 10em;
	border: none;
    margin-right: 7em;
}

button {
	color: white;
    align-content: center;
}

#progress {
    display: inline-block;
    font-size: 48px;
}

progress {
    width: 5em;
}

span {
    display: inline-block;
}

.voteBtn {
	width: 6em;
	height: 6em;
	border: none;
	background-color: rgb(204,204,204);
    margin: 5px;
}

.addBtn {
	width: 4em;
	height: 4em;
	border: none;
    background-color: #00bcd4;
}

#money {
    background-color: #ffc107;
}

#money-edit {
    background-color: #ffc107;
    margin-right: 10px;
}

#sleep {
    background-color: #673ab7
}

#nails {
    background-color: #ec407a;
}

#yes {
    background-color: #8bc34a;
}

#no {
    background-color: #ef5350;
}